.mainNavbar {
  display: flex;
  width: 100%;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-bottom: 5px solid rgb(14, 0, 78);
}

.iconsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0.25;
}

.logoContainer {
  flex: 0.25;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons {
  width: 20px;
  height: 20px;
  margin-left: 20px;
}

.searchIcon {
  width: 20px;
  height: 20px;
}

.link {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: bold;
  background: rgb(6, 0, 105);
  background: linear-gradient(
    0deg,
    rgba(6, 0, 105, 1) 0%,
    rgba(0, 153, 193, 1) 100%
  );
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  margin: 10px 10px;
  text-align: center;
  box-shadow: 0 2px 8px rgba(1, 64, 158, 0.5);

}

.linkAlt {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: bold;
  background: rgb(105, 0, 0);
  background: linear-gradient(
    0deg,
    rgb(105, 0, 0) 0%,
    rgb(193, 0, 0) 100%
  );
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  margin: 10px 0px;
  text-align: center;
  box-shadow: 0 2px 8px rgba(51, 51, 51, 0.5);
}
.link:hover {
  transform: scale(1.05);
}
.linkAlt:hover {
  transform: scale(1.05);
}

.message{
  color: #120b6e;
  margin:0px 0px 0px 10px;
}

.searchInput {
  width: 33pc;
  border: none;
  padding: 5px;
  background-color: rgb(229, 232, 235);
  border-radius: 10px;
}

.navButton {
  text-align: center;
  margin-left: 50px;
}

.logIn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0.25;
}

.logOut {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
}

.buttonText{
  margin: 0;
  padding: 0;
}

.logo{
  max-height: 70px;
  object-fit: contain;
}

.userDetailsContainer{
  display: flex;
  width: 300px;
  justify-content: space-between;
  margin-right: 20px;
}