.mainPostContainer {
  flex: 3;
  display: flex;
  background-color: #8ec6d4;
}

.list {
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
  align-items: center;
  width: 100%;
  justify-content: flex-start;
  background-color: #8ec6d4;
}

.userListContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  align-items: flex-start;
}

.postContainer {
  margin-top: 30px;
  list-style-type: none
}