.mainPostContainer{
    flex: 3;
    background-color: #ddd;
    
}

.list{
    display: flex;
    flex-direction: column;
    margin: 0px;
    align-items: center;
    justify-content: center;
    background-color: #dddddd;
}