.userContainer {
  display: flex;
  flex-direction: row;
  height: 100px;
  width: 90%;
  align-items: center;
  justify-content: space-around;
}

.profilePic {
  width: 50px;
  height: 50px;
  border: 2px solid rgb(68, 68, 68);
  border-radius: 50px;
}

.profilePic img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50px;
  box-shadow: 0 2px 8px rgba(1, 64, 158, 0.5);
}

.username {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.link {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: bold;
  background: rgb(6, 0, 105);
  background: linear-gradient(
    0deg,
    rgba(6, 0, 105, 1) 0%,
    rgba(0, 153, 193, 1) 100%
  );
  padding: 10px 10px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  text-align: center;
  box-shadow: 0 2px 8px rgba(1, 64, 158, 0.5);
}

.linkDisabled {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: bold;
  background: rgb(107, 107, 107);
  background: linear-gradient(
    0deg,
    rgb(70, 70, 70) 0%,
    rgb(170, 170, 170) 100%
  );
  padding: 10px 10px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  text-align: center;
  box-shadow: 0 2px 8px rgba(48, 48, 48, 0.5);
}

.linkUnfollow {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: bold;
  background: rgb(105, 0, 0);
  background: linear-gradient(0deg, rgb(105, 0, 0) 0%, rgb(193, 0, 0) 100%);
  padding: 10px 10px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  text-align: center;
  box-shadow: 0 2px 8px rgba(48, 48, 48, 0.5);
}

.buttonText {
  margin: 0;
  padding: 0;
}

.link:hover {
  transform: scale(1.05);
}

.mainDiv {
  width: 100px;
}
